annotated-types==0.8.0
asgiref==3.9.1
bcrypt==5.0.0
boto3==1.34.23
botocore==1.34.162
camel-converter==5.1.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.0
Django==5.2.5
django-markdownx==4.0.9
django-storages==1.14.2
gunicorn==23.0.0
idna==3.19
jmespath==1.1.0
Markdown==3.8.2
markdown2==2.5.4
meilisearch==0.31.6
packaging==26.3
paramiko==3.4.0
pillow==11.3.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
PyNaCl==1.6.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
requests==2.34.2
s3transfer==0.10.4
scp==0.14.5
six==1.17.0
sqlparse==0.5.3
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
